**/venv/
**/__pycache__/
**/.vscode/
microservices/auth_service/.idea/inspectionProfiles/profiles_settings.xml
microservices/auth_service/.idea/misc.xml
microservices/auth_service/.idea/modules.xml
microservices/auth_service/.idea/vcs.xml
microservices/auth_service/.idea/auth_service.iml
microservices/admin_service/.idea/modules.xml
microservices/admin_service/.idea/misc.xml
microservices/admin_service/.idea/inspectionProfiles/Project_Default.xml
microservices/admin_service/.idea/admin_service.iml
microservices/admin_service/.idea/vcs.xml
api-gateway/.idea/api-gateway.iml
api-gateway/.idea/api-gateway.iml
api-gateway/.idea/api-gateway.iml
api-gateway/.idea/api-gateway.iml
api-gateway/.idea/inspectionProfiles/profiles_settings.xml
api-gateway/.idea/modules.xml
api-gateway/.idea/vcs.xml
api-gateway/.idea/workspace.xml
microservices/.idea/inspectionProfiles/profiles_settings.xml
microservices/.idea/microservices.iml
microservices/.idea/microservices.iml
microservices/.idea/modules.xml
microservices/.idea/microservices.iml
microservices/.idea/vcs.xml
microservices/.idea/workspace.xml
microservices/admin_service/.idea/inspectionProfiles/profiles_settings.xml
microservices/auth_service/.idea/inspectionProfiles/Project_Default.xml


**/media/